doctype html
html
    head
        link(href='./css/main.css', rel="stylesheet")
        link(href='./css/form130.css', rel="stylesheet")
    body
        .container
            .row
                .wrapper
                    p.text-uppercase Форма 1
                    p.text-uppercase Form STI-130
                    ul
                        each val in ['Соцфонд', 'Булочная', "бигмак!!!"]
                            li= val

        script(src='./js/form130.js')